<meta charset="utf-8" />
<title>MicroAPI | <%- pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- App favicon -->
<link rel="shortcut icon" href="./assets/images/favicon.ico">
<!-- Bootstrap Css -->
<link href="./css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
